{
  "svelteSortOrder": "scripts-markup-styles",
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true
}
